@import '~bulma/sass/utilities/initial-variables';
@import url('https://fonts.googleapis.com/css?family=Karla');

$babyBlue: #B3D9DE;
$milkWhite: #FBF9F3;
$houseBlue: #91C7CE;
$houseWhite: #E5E5E5;
$choresGreen: #798263;
$background: $babyBlue;
$body-background-color: $background;
$primary: $babyBlue;
$warning: #91C7CE;
$success: #deceb3;
$link: $milkWhite;
$text: $milkWhite;


$family-sans-serif: "Karla", sans-serif;
@import '~bulma/bulma.sass';
@import './main.scss';
